body {
    margin: 0;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-bar {
    display: flex;
    justify-content: center;
    background-color: rgb(35, 52, 90);
    color: white;
}

.nav-items {
    display: flex;
    list-style: none;
    gap: 25px;
}

li:hover {
    cursor: pointer;
    color: rgb(207, 207, 207);
}




.header {
    display: flex;
    flex-direction: column;
}

.heading {
    display: flex;
    justify-content: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main-image {
    width: 500px;
    height: auto;
}

.footer {
    display: flex;
    justify-content: center;
}


.menu-content {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.pastries-heading, .drinks-heading {
    text-align: center;
}